body{
    background-color: #000000;
    background-image: linear-gradient(400deg, #000000 0%, #414141 74%);
}
.heading{
    font-family: 'Dosis', sans-serif;
    font-size: 5rem;
    color: aliceblue;
    text-align: center;
}
.txt{
    color: white;
}
.custom-card{
    height: 40rem;
    width: 30rem;
    margin: 5rem;
}
.custom-card:hover{
    transition: transform .2s;
    transform: scale(1.1);
}
.custom-card:hover .title-txt{
    color: red;
}
.card-link{
    text-decoration: none;

}
.custom-img{
    height: 23rem;
    width: 20rem;
}
.custom-deck{
    padding-top: 8rem;
    display: flex;
    justify-content: center;
}
